body,
html,
#root {
  height: 100%;
}

body {
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  padding: 0 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App {
    padding: 0 10px 10% 10px;
  }

  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
}

.SearchBar input {
  width: 287px;
  padding: 0.88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar button {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  color: #ffffff;
  background-color: #010c3f;
  text-align: center;
  font-size: 0.833rem;
  transition: background-color 0.25s;
  padding: 20px 30px;
  border: none;
}

.SearchBar button:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchBar {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 37%;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}

.TrackList {
  width: 100%;
}

.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;
  background: none;
  border: none;
  color: white;
}

.Track-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.Track-information h3 {
  margin-bottom: 0.22rem;
}

.Track-information p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

/* -- Dialog Modal -- */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  opacity: 1;
}

.modal--align-top {
  align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}
.modal__content {
  position: relative;
  padding: 2.5rem 3.4rem;
  background: #ffebee;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}

.demo-close {
  position: absolute;
  top: -20px;
  right: -20px;
  margin: 1.2rem;
  padding: 0.2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}
